@charset "utf-8";
*{font-family: Arial, Helvetica, sans-serif;
margin: 0px;
padding: 0px;}

body {background-color: rgb(211, 211, 211);}

header {background-color: gray;
}
header >h1 {padding: 10px;
text-align:center;
}

menu {display: block;}

menu >ul { 
    list-style: none;
}

menu > ul > li {
display: block;
padding: 10px;
text-decoration: none;
text-align: center;
background-color: rgb(39, 39, 39);
color: white;
border-top: 2px solid black;
}

menu > ul >li a:hover{background-color: gray;}

main {
    width: 90vw;

    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    padding-top: 20px;

}
main > article > h2 {
text-align: justify;
margin-bottom: 20px;
text-indent: 20px;


}

i#bur {
    background-color: black;
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;

}

i#bur:hover {
    background-color: white;
    color: black;
}